<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.project_java.mapper.PowerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.project_java.entity.Power">
        <id column="POWER_ID" property="powerId" />
        <result column="POWER_NAME" property="powerName" />
        <result column="POWER_PID" property="powerPid" />
        <result column="POWER_PERMS" property="powerPerms" />
        <result column="POWER_URL" property="powerUrl" />
        <result column="POWER_COMPONENT" property="powerComponent" />
        <result column="POWER_TYPE" property="powerType" />
        <result column="POWER_ICON" property="powerIcon" />
        <result column="POWER_ORDERNUM" property="powerOrdernum" />
        <result column="POWER_CREATED" property="powerCreated" />
        <result column="POWER_UPDATED" property="powerUpdated" />
        <result column="POWER_STATE" property="powerState" />
        <result column="POWER_DESCRIBE" property="powerDescribe" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        POWER_ID, POWER_NAME, POWER_PID, POWER_PERMS, POWER_URL, POWER_COMPONENT, POWER_TYPE, POWER_ICON, POWER_ORDERNUM, POWER_CREATED, POWER_UPDATED, POWER_STATE, DELETED
    </sql>
    <select id="findByStaffId" resultType="com.trkj.project_java.entity.Power">
        select DISTINCT p.* from role_power rp
                                               LEFT JOIN power p ON rp.POWER_ID=p.POWER_ID
                                               LEFT JOIN role r ON rp.role_id=r.role_id
                                               LEFT JOIN staffRole sr ON sr.ROlE_ID=r.ROLE_ID
        WHERE
            STAFF_ID=#{id}
          AND	rp.DELETED=0
          AND sr.DELETED=0
          AND r.ROLE_STATE=0
          AND	r.DELETED=0
          AND	p.POWER_STATE=0
          AND	p.DELETED=0
          and   p.power_type in (0,1)
          ORDER BY p.power_id
    </select>
    <select id="selectPermsByStaffId" resultType="java.lang.String">
        select DISTINCT p.power_perms from role_power rp
                                               LEFT JOIN power p ON rp.POWER_ID=p.POWER_ID
                                               LEFT JOIN role r ON rp.role_id=r.role_id
                                               LEFT JOIN staffRole sr ON sr.ROlE_ID=r.ROLE_ID
        WHERE
            STAFF_ID=#{id}
          AND	rp.DELETED=0
          AND sr.DELETED=0
          AND r.ROLE_STATE=0
          AND	r.DELETED=0
          AND	p.POWER_STATE=0
          AND	p.DELETED=0
    </select>

</mapper>
