<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.project_java.mapper.RepertoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.project_java.entity.Repertory">
        <id column="REPERTORY_ID" property="repertoryId" />
        <result column="COMMODITY_ID" property="commodityId" />
        <result column="STOCK_ID" property="stockId" />
        <result column="STAYLNSTOCK" property="staylnstock" />
        <result column="STAYOUTSTOCK" property="stayoutstock" />
        <result column="INSTOCK" property="instock" />
        <result column="OUTSTOCK" property="outstock" />
        <result column="ACTUALSTOCK" property="actualstock" />
        <result column="AVAILABLESTOCK" property="availablestock" />
        <result column="TOTALPRICE" property="totalprice" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REPERTORY_ID, COMMODITY_ID, STOCK_ID, STAYLNSTOCK, STAYOUTSTOCK, INSTOCK, OUTSTOCK, ACTUALSTOCK, AVAILABLESTOCK, TOTALPRICE, DELETED
    </sql>

</mapper>
