<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.project_java.mapper.ReturngoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.project_java.entity.Returngoods">
        <id column="RETURNGOODS_ID" property="returngoodsId" />
        <result column="PURCHASE_ID" property="purchaseId" />
        <result column="RETURNGOODS_REASON" property="returngoodsReason" />
        <result column="RETURNGOODS_MONEY" property="returngoodsMoney" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RETURNGOODS_ID, PURCHASE_ID, RETURNGOODS_REASON, RETURNGOODS_MONEY, DELETED
    </sql>

</mapper>
