<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.project_java.mapper.SaleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.project_java.entity.Sale">
        <id column="SALE_ID" property="saleId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="CUSTOMER_ID" property="customerId" />
        <result column="STOCK_ID" property="stockId" />
        <result column="BILL_ID" property="billId" />
        <result column="SALE_TIME" property="saleTime" />
        <result column="SALE_MONEY" property="saleMoney" />
        <result column="SALE_REMARKS" property="saleRemarks" />
        <result column="SALE_STATE" property="saleState" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SALE_ID, STAFF_ID, CUSTOMER_ID, STOCK_ID, BILL_ID, SALE_TIME, SALE_MONEY, SALE_REMARKS, SALE_STATE, DELETED
    </sql>

</mapper>
